
<% form_for([@post,@comment]) do |f| %>
	<%= f.error_messages %>

	<p>
		<%= f.label :commenter %>
		<%= f.text_field :commenter %>
	</p>

	<p>
		<%= f.label :body %>
		<%= f.text_area :body %>
	</p>

	<p>
		<%= f.label :mood %>
		<%= f.collection_select :mood_id, Mood.all, :id, :name %>
	</p>

	<p>
		<%= f.submit "Save" %>
		</p>

<% end %>

